type userinit, domain;
type userinit_exec, exec_type, file_type;

init_daemon_domain(userinit)

#============= userinit ==============
allow userinit system_data_file:file { rw_file_perms };
allow userinit devpts:file { rw_file_perms };
allow userinit shell_exec:file { rx_file_perms };
allow userinit system_file:file { rx_file_perms };
allow userinit self:process setcurrent;
