type userinit, domain;
type userinit_exec, exec_type, file_type;

init_daemon_domain(userinit)

#============= userinit ==============
unconfined_domain(userinit) 
